.claude
.DS_Store

# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
next-env.d.ts

# production
build/
dist/

# misc
*.pem
.vercel
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# private / not for the public repo
GW imprints(Masters thesis) Pushty Shrimankar.pdf
TODO.md
content/10-open-questions.md
WhatsApp Video 2026-09-04 at 15.15.10.mp4